{% extends 'firstversionweb/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/homePage.css' %}">



<div id="videoBg">
    <video loop muted autoplay>
        <source src="{% static 'image/Wild_Crane_Andy.mp4' %}" type="video/mp4">
    </video>
</div>

<div class="header-container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <a href="{% url 'home' %}"><img src="{% static 'image/thumbnail_logo&heading.png' %}"></a></div>
            </div>
        </div>
    </div>
</div>

<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    About
                </h3>
                <p class="text-center">
                    Welcome to Wild Crane Tattoo!<br>Please make an appointment before you come visit. <br> No walk-in service during COVID-19. <br> Sorry for your inconvenience. 
                </p>
            </div>
        </div>    
    </div>
</div>

<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Gallery
                </h3>

                <div class="row">
                    <div class="col-md-3">     
                        <p class="text-center">text 1</p>
                        <img class="gallery-img"src="{% static 'image/gallery_10.jpg' %}">
                    </div>
                
                    <div class="col-md-3">
                        <p class="text-center">text 2</p>
                        <img class="gallery-img" src="{% static 'image/gallery_4.jpg' %}">
                    </div>

                    <div class="col-md-3">
                        <p class="text-center">text 3</p>
                        <img class="gallery-img" src="{% static 'image/gallery_3.jpg' %}">
                    </div>

                    <div class="col-md-3">

                        <p class="text-center">text 4</p>
                        <img class="gallery-img" src="{% static 'image/gallery_2.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Artists
                </h3>

                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-center">Ciel Quan</h5>
                        <p></p>
                        <p class="text-center">
                            Honours Bachelor of Illustration, Sheridan College, Canada <br>
                            Specializing in Realistic and Illustrative tattoo. <br> 
                        </p> 
                        <p></p>
                        <img class="artist-imge" src="{% static 'image/ciel.JPG' %}">
                        <p></p>
                        <hr>
                        <p></p>
                        <p class="text-center">Language: Mandarin and English. <br></p>
                    </div>

                    <div class="col-md-6">
                        <h5 class="text-center">Echo Quan</h5>
                        <p></p>
                        <p class="text-center">
                            Honours Bachelor of Animation, Sheridan College, Canada <br>
                            Specializing in Ink Painting and  Anime tattoo. <br>
                        </p>
                        <p></p>
                        <img class="artist-imge" src="{% static 'image/echo.JPG' %}">
                        <p></p>
                        <hr>
                        <p></p>
                        <p class="text-center">Language: Mandarin and English. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Tattoo Design
            </h3>
            
            <div class="row">
                <div class="col-md-3">
                    <h6 class="text-center">Realism</h6>
                    <hr>
    
                    <img class="design-imge" src="{% static 'image/design-realistic.jpg' %}">
                  
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center">Ink Painting</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/gallery-style-example-1.jpg' %}">
             
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center">Illustrative</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/design-illustration.jpg' %}">
                  
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center">Anime</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/design-amine.jpg' %}">
                
                </div>
            </div>
        </div>
    </div>  
</div>


<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Contact Us</h3>
                <h6 class="text-center">
                    Do you have any questions? <br> Swing by for a cup of coffee, or leave us a message:
                </h6>

                <form action="{% url 'home' %}" method="POST">
                    {% csrf_token %}

                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your first name..">
                
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                
                    <label for="Artists">Artists</label>
                    <select id="Artists" name="Artists">
                        <option value="Undecided">Undecided</option>
                        <option value="Ciel">Ciel Q</option>
                        <option value="Echo">Echo Q</option>
                    </select>
                
                    <label for="email">Email</label>
                    <input type="text" id="email" name="emailaddress" placeholder="Your email address..">
                
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subjectmessage" placeholder="Your message.." style="height:200px"></textarea>
                
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    <div class="g-recaptcha" data-sitekey="6Lc74QMaAAAAABDtCfFirzISMMfDVfOXyhNnmV9S"></div>
                    
                    {% if messages %}
                    <ul class="messages">
                      {% for message in messages %}
                        <li class="{{ message.tags }}"> {{ message }} </li>
                      {% endfor %}
                    </ul>
                    {% endif %}

                    <input type="submit" value="Send Message">
            
                </form>


            </div>
        </div>
    </div>
</div>

{% endblock %}