{% extends 'firstversionweb/main.html' %}
{% load static %}
{% block content %}


<style>
.about-container{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    text-align: center;
    margin:0;
    
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #000000;
	color: white;
	padding: 1%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #000000;
  }
  
  /* Add a background color and some padding around the form */


  .row {
      padding-top:3%;
      padding-bottom:3%;
  }

  .header-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.151);
    width: auto;
    height: auto;
    margin-top: 13em;
    margin-bottom: 13em;
  }

  .header-container img{
    width: 40%;
    height: auto;
  } 

</style>

<style>

#videoBg { position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;z-index:-99999;margin:0;background-position: cover;;}
#videoBg > video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@media (min-aspect-ratio: 16/9) { 
    #videoBg > video { 
        height: 300%; 
        top: -100%; 
    }
    
}

@media (max-aspect-ratio: 16/9) { 
    #videoBg > video { 
        width: 300%; 
        left: -100%; 
    }
}

@supports (object-fit: cover) {
    #videoBg > video { 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
}

</style>


<div id="videoBg">
    <video loop muted autoplay>
        <source src="{% static 'image/Wild_Crane_Andy_logo.M4V' %}" type="video/mp4">
    </video>
</div>



<div class="header-container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <a href="{% url 'home' %}"><img src="{% static 'image/thumbnail_logo&heading.png' %}"></a></div>
            </div>
        </div>
    </div>
</div>



<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    About
                </h3>
                <p class="text-center">
                    Welcome to Wild Crane Tattoo!<br>Please make an appointment before you come visit. <br> No walk-in service during COVID-19. <br> Sorry for your inconvenience. 
                </p>
            </div>
        </div>    
    </div>
</div>


<style>
.gallery-img {
    display: block;
    margin: 0 auto;
    max-height: auto;
    max-width: 80%;
}
</style> 


<div class="about-container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Gallery
            </h3>

            <div class="row">
                <div class="col-md-3">     
                    <p class="text-center">text 1</p>
                    <img class="gallery-img" src="{% static 'image/gallery_10.jpg' %}">
                </div>
            
                <div class="col-md-3">
                    <p class="text-center">text 2</p>
                    <img class="gallery-img" src="{% static 'image/gallery_4.jpg' %}">
                </div>

                <div class="col-md-3">
                    <p class="text-center">text 3</p>
                    <img class="gallery-img" src="{% static 'image/gallery_3.jpg' %}">
                </div>

                <div class="col-md-3">

                    <p class="text-center">text 4</p>
                    <img class="gallery-img" src="{% static 'image/gallery_2.jpg' %}">
                </div>
            </div>
        </div>
    </div>

</div>

<style>
.artist-imge {
    display: block;
    margin: 0 auto;
    max-height: auto;
    max-width: 45%;
}
</style> 


<div class="about-container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Artists
            </h3>

            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-center">Ciel Quan</h5>
                    <p class="text-center">
                        Honours Bachelor of Illustration, Sheridan College, Canada <br>
                        Specializing in Realistic and Illustrative tattoo. <br> 
                    </p> 
                    
                    <img class="artist-imge" src="{% static 'image/ciel.JPG' %}">
                    <hr>
                    <p class="text-center">Language: Mandarin and English. <br></p>
                </div>

                <div class="col-md-6">
                    <h5 class="text-center">Echo Quan</h5>

                    <p class="text-center">
                        Honours Bachelor of Animation, Sheridan College, Canada <br>
                        Specializing in Ink Painting and  Anime tattoo. <br>
                    </p>

                    <img class="artist-imge" src="{% static 'image/echo.JPG' %}">
                    <hr>
                    <p class="text-center">Language: Mandarin and English. </p>
                </div>
            </div>
            
        </div>
    </div>

</div>


<style>
.design-imge {

    display: block;
    margin: 0 auto;
    max-height: auto;
    max-width: 90%;
}
</style> 


<div class="about-container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Tattoo Design
            </h3>
            
            <div class="row">
                <div class="col-md-3">
                    <h6 class="text-center">Realism</h6>
                    <hr>
    
                    <img class="design-imge" src="{% static 'image/design-realistic.jpg' %}">
                  
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center">Ink Painting</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/gallery-style-example-1.jpg' %}">
             
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center">Illustrative</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/design-illustration.jpg' %}">
                  
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center">Anime</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/design-amine.jpg' %}">
                
                </div>
            </div>
        </div>
    </div>

</div>



<div class="about-container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Contact Us</h3>
            <h6 class="text-center">
                Do you have any questions? <br> Swing by for a cup of coffee, or leave us a message:
            </h6>
            <form action="action_page.php">
        
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
            <label for="country">Artists</label>
            <select id="country" name="country">
                <option value="canada">Undecided</option>
                <option value="Ciel">Ciel Q</option>
                <option value="Echo">Echo Q</option>
            </select>
        
            <label for="email">Email</label>
            <input type="text" id="email" name="emailaddress" placeholder="Your email address..">
        
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
            <input type="submit" value="Submit">
        
            </form>

        </div>
    </div>
</div>

{% endblock %}