{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Wild Crane Tattoo</title>

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'image/apple-icon-57x57.png' %}"></link>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'image/apple-icon-60x60.png' %}"></link>
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'image/apple-icon-72x72.png' %}"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'image/apple-icon-76x76.png' %}"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'image/apple-icon-114x114.png' %}"></link>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'image/apple-icon-120x120.png' %}"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'image/apple-icon-144x144.png' %}"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'image/apple-icon-152x152.png' %}"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-icon-180x180.png' %}"></link>
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'image/android-icon-192x192.png' %}"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}"></link>
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'image/favicon-96x96.png' %}"></link>
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}"></link>
	<link rel="manifest" href="/manifest.json"></link>
	<meta name="msapplication-TileColor" content="#ffffff"></meta>
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png"></meta>
	<meta name="theme-color" content="#ffffff"></meta>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	
</head>

<body>
{% include 'firstversionweb/navbar.html' %}
	<div class="container-fluid">
	{% block content %}
	
	{% endblock %}
	</div>
	<hr>
<style>
footer {
    width: auto;
    height: auto;
    background-color: black;
    margin: 0 auto;
    color: rgb(235, 235, 235);
    font-size: 16px;
}
 
footer>div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 20px;
	  padding-bottom: 20px;
}
 
footer div div {
    width: auto;
    height: auto;
}
 
footer div div:last-child {
    width: auto;
    height: auto;
}
 
footer div div p:first-child {
    color: #ffffff;
}
</style>

<footer>
  <div>
    <div>
      <p>LEARN MORE</p>
      <p>How it works?</p>
      <p>Meeting tools</p>
      <p>Live streaming</p>
      <p>Contact Method</p>
    </div>
    <div>
      <p>ABOUT US</p>
      <P>About us</P>
      <p>Services</p>
      <p>Privacy police</p>
      <p>Terms & Conditions</p>
    </div>
    <div>
      <p>Contact</p>
      <p>info@wildcranetattoos.com</p>

    </div>
    <div>
      <p>ENJOY YOUR LIFE</p>
      <p>Create web UI kit for designers,
        <br />freelancers or business.</p>
      <p></p>
      <p id="icon">
        <img src="image9-11/image_0007s_0001s_0000s_0005_LinkedIn-Icon.png" />
      </p>
    </div>
  </div>
</footer>

</body>



</html>