{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'image/apple-icon-57x57.png' %}"></link>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'image/apple-icon-60x60.png' %}"></link>
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'image/apple-icon-72x72.png' %}"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'image/apple-icon-76x76.png' %}"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'image/apple-icon-114x114.png' %}"></link>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'image/apple-icon-120x120.png' %}"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'image/apple-icon-144x144.png' %}"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'image/apple-icon-152x152.png' %}"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-icon-180x180.png' %}"></link>
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'image/android-icon-192x192.png' %}"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}"></link>
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'image/favicon-96x96.png' %}"></link>
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}"></link>
	<link rel="manifest" href="{% static 'image/manifest.json' %}"></link>
	<meta name="msapplication-TileColor" content="#ffffff"></meta>
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png"></meta>
	<meta name="theme-color" content="#ffffff"></meta>
  
  <title>Wild Crane Tattoos Inc.</title>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKT24HCZS1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KKT24HCZS1');
  </script>

</head>

<body>


<header>
  <h1 class="logo">
    <a href="{% url 'home' %}"><img src="{% static 'image/thumbnail_logo.png' %}"></a>
  </h1>

  <input type="checkbox" id="nav-toggle" class="nav-toggle">

  <nav>
    <ul>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'artists' %}">Artists</a></li>
      <li><a href="{% url 'gallery' %}">Gallery</a></li>
      <li><a href="{% url 'shop' %}">Shop</a></li>
      <li><a href="{% url 'tattodesign' %}">Tatto design</a></li>
      <li><a href="{% url 'tattooaftercare' %}">Tattoo aftercare</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>
  </nav>

  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>

</header>


<div class="sep-sec"></div>
	{% block content %}
	
	{% endblock %}


<footer>

  <div class="footer-textarea">
    <ul class="unstyled-list">
      <li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-phone-square" style="font-size:1.5rem"></span>&nbsp;&nbsp;+1-647-946-8186</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-envelope-square" style="font-size:1.5rem"></span>&nbsp;&nbsp;info@wildcranetattoos.com</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;315 Steelcase Rd E Unit 8, Markham, </li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON L3R 2R5</li>
    </ul>
  </div>

  
  <div class="footer-icons">
    <ul>
      <li><a href="https://www.instagram.com/wild_crane_tattoos_official/" target="_blank"><i class="fa fa-fw fa-instagram" style="font-size:2.5rem;color: rgba(235, 235, 235, 0.904);"></i></a>&nbsp;&nbsp;<a href="https://www.linkedin.com/company/wild-crane-tattoos-inc/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:2.5rem;color:rgba(235, 235, 235, 0.904);"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="wechatQR" src="{% static 'image/wechat_Q.JPG' %}">
      </li>
    </ul> 
  </div>

  <div class="footer-copyrights">
    <p>Copyright &copy; 2021 Wild Crane Tattoos Inc. All Rights Reserved.<br>Website Designed & Developed by <a href="https://imxiaow.github.io/" target="_blank">XW</a></p>
  </div>

</footer>

</body>



</html>

<style> 
  body a{
    color:white;
  }

  footer a {
    color:white;
  }
  
  a, a:link, a:visited, a:focus, a:hover, a:active{
    color:white; 
  }

  .footer-copyrights a{
    color:white;
  }
  
  nav a {
    color: black !important;
  }
</style>