{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'image/apple-icon-57x57.png' %}"></link>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'image/apple-icon-60x60.png' %}"></link>
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'image/apple-icon-72x72.png' %}"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'image/apple-icon-76x76.png' %}"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'image/apple-icon-114x114.png' %}"></link>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'image/apple-icon-120x120.png' %}"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'image/apple-icon-144x144.png' %}"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'image/apple-icon-152x152.png' %}"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-icon-180x180.png' %}"></link>
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'image/android-icon-192x192.png' %}"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}"></link>
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'image/favicon-96x96.png' %}"></link>
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}"></link>
	<link rel="manifest" href="{% static 'image/manifest.json' %}"></link>
	<meta name="msapplication-TileColor" content="#ffffff"></meta>
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png"></meta>
	<meta name="theme-color" content="#ffffff"></meta>
  
  <title>Wild Crane Tattoos Inc.</title>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKT24HCZS1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KKT24HCZS1');
  </script>

</head>

<body>

<header>
  <img src="{% static 'image/thumbnail_logo.png' %}" class="logo">
  <nav>
    <ul>
      <li><a href="">About</a></li>
      <li><a href="">Artists</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Shop</a></li>
      <li><a href="">Tattoo design</a></li>
      <li><a href="">Tattoo aftercare</a></li>
      <li><a href="">Contact us</a></li>

    </ul>
  
  </nav>

</header>


	{% block content %}
	
	{% endblock %}


<footer>
  <div class="container">
    <div class="footer-textarea">
      <ul class="unstyled-list">
        <li>+1-647-946-8186</li>
        <li>info@wildcranetattoos.com</li>
        <li>315 Steelcase Rd E Unit 8, Markham, ON L3R 2R5</li>
      </ul>
    </div>

    <div class="footer-copyrights">
      <p>Copyright 2021 Wild Crane Tattoos Inc. All Rights Reserved.</p>

    </div>
  </div>

</footer>

</body>


</html>