{% extends 'firstversionweb/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tattooaftercarePage.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">



<section class="home-landsec-heading">
    <a href="{% url 'home' %}"><img src="{% static 'image/thumbnail_heading.png' %}" class="comp-head-wds"></a>

</section>


<section class="tattooaftercare-image-sec">
	<div class="center">


		<h1>Dermatologists agree that anyone who gets a tattoo also needs instructions on how to take care of it to prevent infections and serious complications.</h1>
		<ul>
			<li>Do not scratch your tattoo. It will itch during the healing process. This process can last up to two weeks. Do not swim, soak in a hot tub, or take a bath for two weeks after getting your tattoo. Also, avoid tanning. </li>
			<li> Depending on the placement, the size, and an individual’s hygiene, and daily activities, healing is different for everyone. </li>
			<li>You should expect your new tattoo to be red, irritated, swollen, and possibly bruised. These are normal reactions to the tattoo area. If swelling or bruising occurs, this could last for up to a week, especially if tattooed in a sensitive area such as the feet.</li>
		</ul>

		<h1>At Wild Crane Tattoos Inc, we stand by our work. If a touch up on your tattoo is needed, our artists will complete at no additional charge for the first time. If you need touch up not for the first time, please contact us to explain your circumstance, and we would be happy to assist you for the best we can.</h1>
	</div>
</section>





{% endblock %}