* {
    box-sizing: border-box;
    /*transition: ;*/
}



/*  ========
 =========== */
.home-landsec-heading{
    padding-top: 3em;
    padding-bottom: 3em;
    margin:0;
}

.home-landsec-heading img {
    width:60%;
    left:cal(50%*43rem);
    height:auto;
}



/*  ========
 =========== */
.home-landsec-video{
    background: #FAFAFA;
    padding-top: 1em;
    padding-bottom: 1em;
}

.home-landsec-video-area > video {
    position:relative;
    width: 100%;
    height: auto;

}



/*  ========
 =========== */
.home-landsec-text{
    background: #FAFAFA;
    margin-top:0.5em;
}

.home-landsec-textbox{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.home-landsec-textbox h1{
    font-style: italic;
    font-weight: 1200;
    font-size: 1.3rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color:#212121;
}

.home-landsec-textbox span{
    color:#960000;
}



/*  ========
 =========== */
.home-landpage-gallery{
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

.home-landpage-gallery-header h1{
    text-decoration: underline;
    /*padding: ;
    text-transform: ; */
    text-align: center;
    color: black;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    font-style: normal;
    background: white;
    line-height: 1rem;

}

.home-landpage-gallery-images{
    margin:0;
    background: white;
    display: table;
    padding:0.4em;
}


.home-landpage-gallery-images img{
    width: 45%;
    height: auto;
    margin:0;
    padding-top:0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;

}

.home-landpage-learn-more-button h2{
    line-height: 0rem;
}
.home-landpage-learn-more-button a{
    font-size: 1.2rem;
    color:#960000;
    line-height: 0.3rem;
    letter-spacing: 0.01em;
    text-decoration: none;
}



/*  ========
 =========== */
.home-landpage-tattoo-design{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background:white;
}

.home-landpage-tattoo-design-header h1{
    text-decoration: underline;
    /*padding: ;
    text-transform: ; */
    text-align: center;
    color: black;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    font-style: normal;
    line-height: 1rem;
}

.home-landpage-tattoo-design-images{
    margin:0;
    background: white;
    display: inline-block;
    padding:0.005em;
}

.home-landpage-tattoo-design-images img{
    width: 80%;
    height: auto;
    margin:0;
}



/*  ========
 =========== */
.home-landpage-shop{
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    background: #FAFAFA;
}

.home-landpage-shop-header h1{
    text-decoration: none;
    /*padding: ;
    text-transform: ; */
    text-align: center;
    color: #212121;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    font-style: normal;
    line-height: 1rem;
}

.home-landpage-shop-images{
    margin:0;
    display: inline-block;
}
.home-landpage-shop-images img{
    width: 100%;
    height: auto;
    margin:0;
}

.home-landpage-shopgift-button h2{
    line-height: 0rem;
}
.home-landpage-shopgift-button a{
    font-size: 1.2rem;
    color:#960000;
    line-height: 0.3rem;
    letter-spacing: 0.01em;
    text-decoration: none;
}



/*  ========
 =========== */
.home-landpage-contactus{
    padding:0.5em;
}

.home-landpage-contactus-header h1{
    text-decoration: underline;
    /*padding: ;
    text-transform: ; */
    text-align: center;
    color: #212121;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    font-style: normal;
    line-height: 1rem;
}
.home-landpage-contactus-header p{
    text-decoration: none;
    /*padding: ;
    text-transform: ; */
    text-align: center;
    color: #960000;
    font-size: 0.8rem;
    letter-spacing: 0.01em;
    font-style: thin;
    line-height: 0.3rem;
}


.home-landpage-contactus-contactform{
    padding:0.8em;
    background: #EEEEEE;
}

.home-landpage-contactus-contactform li {
    list-style: none;
    font-size:0.9rem;
    text-align: left;
    color:blue;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 0.5rem; /* Some padding */ 
    border: 0.1rem solid #ccc;/* Gray border */
    border-radius: 0.4rem; /* Rounded borders */
    margin-top: 0.4rem; /* Add a top margin */
    margin-bottom: 0.4rem; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
form {
    text-align: left;
    font-style:bold;
}
form label{
    text-align: left;
    font-size: 0.9rem;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #000000;
}



/*  ========
 =========== */










/* typography 
======================= */
.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* ===========================
iphone 12 pro max 428x926
    default pixel = 10px
    10px* 43 = 430px
============================ */
@media (min-width: 43rem){


}






