body{
    margin:0;
    font-family:'Lato', sans-serif;
    text-align: center;
}


.container{
    width: 100%;
    margin:0 auto;
}


/* header
=================== */
header {
    position: relative;
    left:cal(50%*43rem);
    margin: 0.5em ;
}

header img {
    width:3rem;
    height:auto;
}

nav ul {
    margin:0;
    padding:0;
    top:0;
    list-style: none;
}

nav li {
    display:inline-block;
    margin:0em;
}

nav a {
    font-weight:400;
    text-decoration: none;
    /*padding: ;
    text-transform: ; */
    text-align: center;
    color: black;
    font-size: 1.3rem;
    letter-spacing: 0.01em;
    font-style: normal;
    background: pink;
}

nav a:hover,
nav a:focus {
    color: ;
}

@media (min-width:43rem) {
    .logo {
        float: center;
    }

    nav {
        float: left;
    }
}



/* Footer
=================== */
footer {
    background: #232323;
    color: #fff;
    text-align: left;
    padding: 1em 0;
}

.footer-textarea{
    
}

.footer-textarea ul {
    margin:0;
    padding:1em;
    top:0;

}

.footer-textarea li {
    font-size:0.9rem;
    display: block;
    line-height: 1.4rem;
    color:rgba(235, 235, 235, 0.904);
}


.footer-copyrights{
    font-size: 0.7rem;
    text-align: center;
    font-weight: 50;
    color:#D1D1D1;
    padding-top:0em;
}

footer img{
    width: 25%;
}
footer ul{
    list-style: none;
}


section:after,
footer::after{
    display: block;
    clear: both;
}





/* END
=================== */