* {
    box-sizing: border-box;
    /*transition: ;*/
}

body{
    margin:0;
    font-family:'Lato', sans-serif;
    text-align: center;
}


.container{
    width: 100%;
    margin:0 auto;
}



/*nav 
=================== */
nav{
    height: 5rem;
    width:100%;
    background: #34495e;
}

nav a img{
    height: 5rem;
    padding:0.25rem;
    border:0.1rem solid yellow;
}

nav ul{
    float: right;
    margin-right:2rem;
    list-style: none;
}

nav li{
    display: inline-block;
    margin:0 0.5rem;
    line-height: 2.5rem;
}

nav ul li a{
    color:black;
    font-size:1rem;
    border:0.1rem solid red;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    border-radius:0.2rem;
}

nav ul li a:hover{
    color: #960000;
    transition: 0.5;
    border:0.1rem solid red;
}

nav i{
    color:white;
    font-size: 2.5rem;
    display: block;
    margin:2rem;
}


/* Footer
=================== */
footer {
    background: #232323;
    color: #fff;
    text-align: left;
    padding: 1em 0;
}

.footer-textarea{
    
}

.footer-textarea ul {
    margin:0;
    padding:1em;
    top:0;

}

.footer-textarea li {
    font-size:0.9rem;
    display: block;
    line-height: 1.4rem;
    color:rgba(235, 235, 235, 0.904);
}


.footer-copyrights{
    font-size: 0.7rem;
    text-align: center;
    font-weight: 50;
    color:#D1D1D1;
    padding-top:0em;
}

footer img{
    width: 25%;
}
footer ul{
    list-style: none;
}


section:after,
footer::after{
    display: block;
    clear: both;
}





/* END
=================== */