* {
    box-sizing: border-box;
    /*transition: ;*/
}


/*  ========
 =========== */
.home-landsec-heading{
    padding-top: 3em;
    padding-bottom: 3em;
    margin:0;
}

.home-landsec-heading img {
    width:60%;
    left:cal(50%*43rem);
    height:auto;
}

@media (min-width: 43rem){

    .home-landsec-heading{
        margin-top:15%;
        margin-bottom:15%;
        margin-left:15%;
        margin-right:15%;
   }
   
}


/*  ========
 =========== */









/*  ========
 =========== */











/*  ========
 =========== */